<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fbc90d12-918a-413e-b839-c816b4905a93/resourceGroups/iep-aukcija/providers/Microsoft.Web/sites/iep-aukcija</ResourceId>
    <ResourceGroup>iep-aukcija</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iep-aukcija.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iep-aukcija.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iep-aukcija</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$iep-aukcija</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="lokalna" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:psidb-main.database.windows.net,1433;Initial Catalog=iep;Persist Security Info=False;User ID=psidb;Password=Ij#^$qvJm$jZV^30S;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:psidb-main.database.windows.net,1433;Initial Catalog=iep;Persist Security Info=False;User ID=psidb;Password=Ij#^$qvJm$jZV^30S;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="IEP_Projekat.Models.ApplicationDbContext, IEP Projekat" MigrationConfiguration="IEP_Projekat.Migrations.Configuration, IEP Projekat" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:psidb-main.database.windows.net,1433;Initial Catalog=iep;Persist Security Info=False;User ID=psidb;Password=Ij#^$qvJm$jZV^30S;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:psidb-main.database.windows.net,1433;Initial Catalog=iep;Persist Security Info=False;User ID=psidb;Password=Ij#^$qvJm$jZV^30S;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\aspnet-IEP Projekat-20180610095702.mdf&quot;;Initial Catalog=&quot;aspnet-IEP Projekat-20180610095702&quot;;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\aspnet-IEP Projekat-20180610095702.mdf&quot;;Initial Catalog=&quot;aspnet-IEP Projekat-20180610095702&quot;;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>False</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:psidb-main.database.windows.net,1433;Initial Catalog=iep;Persist Security Info=False;User ID=psidb;Password=Ij#^$qvJm$jZV^30S;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="lokalna-Web.config Connection String">
      <ParameterValue>Server=tcp:psidb-main.database.windows.net,1433;Initial Catalog=iep;Persist Security Info=False;User ID=psidb;Password=Ij#^$qvJm$jZV^30S;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>